@charset "utf-8";
/* CSS Document */

body { padding: 0px; margin: 0px; font-family: 'lato';background: #EFF3F6;}
.txtleft { text-align: left }
.txtRight { text-align: right }
.txtCenter { text-align: center; }
.floatleft { float: left }
.floatright { float: right }
.bdr{border-bottom:1px solid #3e4a58}
.bdrNone{border:none;}
.margin0{margin:0px !important;}
.strong{font-weight:bold}
.pending{color:#FFBF59 !important;}
.success{color:#2ecc71 !important;}
.other{color:#5AAFE8  !important;}
.failed{color:#e74c3c !important;}
.fluid{width:100% !important; padding:0px !important; margin:0px !important;}
.fontclr{color:#fff !important;}
.updateHeader_margin{
    margin: 1% 3% !important;
}
.text-nowrap {
  white-space: nowrap;
}
tooltip_text
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.iconsImg { background: url('../images/icon-sprite.png') no-repeat; }
.textlight { font-weight: 300; }
img{border:0px;}

h1, h2, h3, h4 { padding: 0px; margin: 0px; }
h1, .h1 { font-size: 25px; }
h2, .h2 { font-size: 20px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 16px; }
.margin10{margin:10px 0px;}

/* Login Window */
.loginpanel{    width: 325px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin-top: 10%;
    box-shadow: 1px 1px 10px #ccc;overflow: hidden;}
   .loginTitle{padding: 7px 7px 7px 38px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    color: #2F90D8;}
.lgform{    padding: 0px;
    margin: 0px auto;
    display: table;
    width: 85%;}
.lgform li{    list-style: none;
    display: block;
    float: left;
    width: 100%;
    padding: 2px 10px;
    box-sizing: border-box; clear:both;
}
.lgform li label{width: 100%;
    padding: 5px;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    
}
.lgform li input[type="text"],.lgform li input[type="password"],.lgform li select{width:100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.lgform li input[type="submit"]{background: #28A93E;
    border: none;
    border-radius: 2px;
    padding: 8px 24px;
    color: #fff;
}
.lgform li input[type="reset"]{background: #AFAFAF;
    border: none;
    border-radius: 2px;
    padding: 8px 24px;
    color: #fff; margin-left:5px;
}
.lgform li a{color: #9E9E9E;
    font-size: 13px;
    text-decoration: none;
}
.lgform li a:hover{color:#2F90D8; text-decoration: underline;}

/*End Login Window*/
.gateway_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
.gateway_container .topHead {
    width: 100%; 
    display: block; 
    padding: 0px 0px 0;
	background: #fff;
}
.gateway_container .update_total-text{display: inline-block;
    float: right;
    padding-right: 5px;
}
.gateway_container .header{ width: 100%;
    margin: 0px;display: table; content: ""; background:#fff }
.gateway_container .base{ width: 100%;display: table; content: ""; background:#eff3f6 }

.gateway_container .header .pblogo{ margin: 10px 0 0 0; }

.gateway_container .header .total-text{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 900;
    color: #45597a; 
}

.gateway_container .header .totalAmt, .lastDisplay .totalAmt {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    color: #fff;
}

.gateway_container .header .clientSelect select {
font-size: 12px;
font-weight: 600;
color: #F1C40F;
border: none;
background: transparent url('../images/yellow-arrow.png') no-repeat;
background-position: 90px 5px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding-right:15px;
}
.gateway_container .header .clientSelect select::-ms-expand {
    display: none;
}

.gateway_container .nav{
    width: 100%;  background:#111723;    display: table;
}
.gateway_container .nav .menu{display:block;width:98%; margin:0px auto;}
.gateway_container .nav .menu li{list-style:none;     float: left;
    display: inline-block;}
.gateway_container .nav .menu li a {
    padding: 20px 15px 14px ;
    display: block;
    text-decoration: none;
    color: #b5c0d6;    font-weight: 500;
    text-transform: uppercase;
	 border-bottom: 6px solid #111723;
}
.gateway_container .nav .menu li a:hover, .gateway_container .nav .menu li a.active {
       border-bottom: 6px solid #3498db;color: #fff; 
}


.gateway_container .lastDisplay{width: 94%;  margin: 3%;    clear: both;
    display: table;}
.gateway_container .lastDisplay .last{display:block; padding:0px; margin:0px; }
.gateway_container .lastDisplay .last li {
    list-style: none;
    float: left;
    padding: 0px 10px;
}
.gateway_container .lastDisplay .last li.daysupdate { 
    border: 1px solid #708293;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 14px;
	color:#708293;cursor:pointer
}
.gateway_container .lastDisplay .last li.daysupdate1 { 
    border: 1px solid #708293;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 14px;
	color:#708293;cursor:pointer
}
.gateway_container .lastDisplay .last li.or{
    color: #708293;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 15px;
}
.gateway_container .lastDisplay .last li .fromdate,.gateway_container .lastDisplay .last li .todate{
    width: 100px;
    background:  url('../images/calender-icon.png') no-repeat;
    border: 0px;
    border: 1px solid #708293;
    border-radius: 20px;
    padding: 6px 5px 5px 10px;
    font-size: 11px;
    color: #708293; background-position: 70px 4px;
}
.gateway_container .lastDisplay .last li.daysupdate:hover,.gateway_container .lastDisplay .last li.daysupdate.active {
  
	background:#708293;
	color:#fff;
}
.gateway_container .lastDisplay .last li.daysupdate1:hover,.gateway_container .lastDisplay .last li.daysupdate1.active {
  
	background:#708293;
	color:#fff;
}

	
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.tableContent{
    border: 1px solid #d5dce2;
    border-radius: 7px;
    padding-bottom: 3px;
}
 .tableArea .tableHighlight{
    background: #708293;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.tableHighlight span {
    padding: 15px;
    display: inline-block;
}
.tableHighlight span.alltran{    font-size: 18px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.2px;     line-height: 23px;
}
.tableHighlight span.lastday{    font-size: 12px;
    color: #cbd4e0;
    font-weight: 300;
    letter-spacing: 0.2px;
}
.tableHighlight a.exportTab{
    background: #647483;
    float: right;
    padding: 15px 42px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;border-top-right-radius: 5px;
}







.cusTable { display: table; padding: 0px; clear: both; border-collapse: collapse; margin: 0; width: 100%;}
.cusRow { display: table-row; background:#f3f5f7; }
.cusRow:hover { background: #ffffdd; }
.cusRow > span { list-style: none; display: table-cell; color: #828282;  padding:5px 5px; font-size: 12px; }

.cusRow > span.wd3{width:3%;}
.cusRow > span.wd5{width:5%;}
.cusRow > span.wd6{width:6%;}
.cusRow > span.wd7{width:7%;}
.cusRow > span.wd9{width:9%;}
.cusRow > span.wd10{width:10%;}
.cusRow > span.wd11{width:11%;}
.cusRow > span.wd12{width:12%;}
.cusRow > span.wd13{width:13%;}
.cusRow > span.wd15{width:15%;}
.cusRow > span.wd20{width:20%;}
.cusRow > span.wd25{width:25%;}
.cusRow > span.wd30{width:30%;}
/* for fix 
.cusHeader.headFix{position: absolute !important; width: 1008px !important;}
/*end fix */
.cusHeader { display: table-header-group;/*position: absolute;*/ }
.cusHeader span { background-color: #fff; color: #333; font-weight: 600; padding: 15px 10px;  position:relative;}
.cusBody { display: table-row-group; }
.cusBody .cusRow:nth-child(odd) { background:#f3f5f7;} 
.cusBody .cusRow:nth-child(even) { background:#fff;} 
.cusHeader .inputWrapper{
	border: 1px solid #ccc;
    border-radius: 5px;
}
.cusHeader span em {
    position: absolute;
    top: 22px;
    right: 8px;
    background: url('../images/lense-icon1.png') no-repeat;
    height: 25px;
    width: 25px;
    display: table; cursor:default;
    
}

.cusRow li span button {
    color: #fff;
    background: #3498db;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}
.cusRow > span button{
    color: #fff;
    background: #3498db;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}
.cusRow > span button.corfirmbtn{ background:#1abc9c}

.cusHeader .cusRow > span .inpType{
       width: 81%;
   border: 0px;
   
    border-radius: 5px;
    padding: 9px 5px 8px 10px;
    font-size: 10px;
    color: #708293;
    font-weight: normal;

}
.cusHeader .cusRow > span .transrepo{width:82%;  background-position: 75px 4px;}
.cusBody .cusRow > span select{   color: #3498db;
    font-weight: 600;
    border: 0px;
    background: none;
	background: transparent url('../images/blue-arrow.png') no-repeat;
    background-position: 41px 3px;
	  -webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;width: 80%;
}

.cusBody .cusRow > span select::-ms-expand {
    display: none;
}

/*input type basic*/
button, input, optgroup, select, textarea { margin: 0; font: inherit; color: inherit;  outline:none;}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }
/**/

.pbchat { margin: 0px; padding: 0px; }
.pbchat:after, .pbchat:before { display: table; content: " "; clear: both; }
.pbchat-1, .pbchat-2, .pbchat-3, .pbchat-4, .pbchat-5, .pbchat-6, .pbchat-7, .pbchat-8, .pbchat-9, .pbchat-10, .pbchat-11, .pbchat-12, .pbchat-101 { float: left; padding: 10px; box-sizing: border-box; display: table; content: " "; }
.pbchat-12 { width: 100%; }
.pbchat-11 { width: 91.66666667%; }
.pbchat-10 { width: 83.33333333%; }
.pbchat-9 { width: 75%; }
.pbchat-8 { width: 58.33333333%; }
.pbchat-7 { width: 58.33333333%; }
.pbchat-6 { width: 50%; }
.pbchat-5 { width: 41.66666667%; }
.pbchat-4 { width: 33.33333333%; }
.pbchat-3 { width: 30%; }
.pbchat-2 { width: 16.66666667%; }
.pbchat-1 { width: 8.33333333%; }



/*reupdate*/

.lRpadd{padding: 10px 0; padding-left: 4%;}
.tbpadd{padding: 0px 10px;}
.extra-padding{padding:25px 0px;}
.extra-padding-1{padding:15px 0px 0;}
.extra-padding-2{padding:5px 0px;}

.bgBlur{-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


/*---------------popup window------------*/
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(69,89,122,0.5);
    z-index: 1;
    top: 0px;
    left: 0px; display:none; opacity:0;
}
.popup-window { display:none;    position: fixed; 
    z-index: 3; width: 59.9%;  margin: 0px auto; background: #fff; box-shadow: 0px 0px 18px rgb(32, 45, 68); box-sizing: border-box;  }
.popup { display:none;    position: fixed; 
    z-index: 3; width: auto;  margin: 0px auto; background: #fff; box-shadow: 0px 0px 18px rgb(32, 45, 68); box-sizing: border-box;  }
.popup-window .close,.refund .close,.settal .close { width: 25px; height: 25px; display: table; position: absolute; right: 0px; top: 0px; text-indent: -3000px; background-position: -130px 0px; cursor: pointer }
.popup .close,.refund .close,.settal .close { width: 25px; height: 25px; display: table; position: absolute; right: 0px; top: 0px; text-indent: -3000px; background-position: -130px 0px; cursor: pointer }
.customer-info { display: table; width: 100%; clear: both; background: #45597a; padding: 0px 10px; box-sizing: border-box; }
.customer-info-settlement { height: 30px; width: 200%; clear: both; background: #45597a; padding: 0px 0px; }
.transaction { margin: 15px 18px; overflow: hidden; }
.cashBack-promo { height: 30px; width: 100%; clear: both; background: #45597a; padding: 0px 0px; }
h4.cust-title {
    margin: 10px 0px 10px;
    border-bottom: 1px solid rgba(112,130,147,0.5);
    padding-bottom: 6px;
}
h4.promo {
    margin:0px 0px 0px;
    border-bottom: 1px solid rgba(112,130,147,0.5);
    padding-bottom: 6px;
}
.customer-info .info-hr { margin: 0px; float: left; width: 100%; padding: 18px 10px; box-sizing: border-box; }
.customer-info .info-hr li { float: left; display: inline-block; list-style: none; margin-right: 30px; }
.customer-info .info-hr li label { font-weight: 900;
    width: 200%;
    display: block;
    font-size: 8px;
    letter-spacing: 1px;
    text-transform: uppercase; color: #B0BEC7;padding: 2px 0px;}
.customer-info .info-hr li span {     font-weight: 400;
    width: 200%;
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 2px 0px;
    letter-spacing: .5px;}
.transaction-info { margin: 0px; float: left; width: 100%; padding: 7px;box-sizing: border-box; }
.transaction-info li { width: 50%; display: inline-block; list-style: none; }
.transaction-info li label {
    font-weight: 300;
    width: 70%;
    display: inline-block;
    font-size: 15px;
    color: #1D7CB7;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: .5px;
}
.transaction-info li span {
    font-weight: 400;
    /*width: 63%;*/
    display: inline-block;
    font-size: 14px;
    color: #232323;
   
    line-height: 18px;
}/*--------------------------------------*/

@media (min-width: 768px) {
  .gateway_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .gateway_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .gateway_container {
    width: 1170px;
  }
}
button.btn {
    color: #fff;
    background: #3498db;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 3%;
}

/*Refund and Settelment */

.refund {
    width: 40%;
    background: #fff;
     font-size:14px;
box-shadow:1px 1px 10px #0E2346;display: none;
    position: fixed;
    z-index: 3;
}
h3.item{background:#45597a;
    color: #fff;
    padding: 10px; margin:0px;
}
.formSection{padding:2% 4%;}
.downloadButton{    float: right;
    text-align: right;}
.downloadButton a.downloadLink{
    background: #6D7B92;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer; text-decoration:none;
}
.ref-wrap{    overflow: hidden;
    padding: 10px 0px;
}
.head{
    font-size: 13px;
    font-weight: 600;
}
.twopart{	width: 50%;
    float: left;
}
.cusref{
    clear: both;
    padding:10px 0px;
}
.formSection label{
    font-size: 13px;
    color: #828282;
}
  .formSection .format{
    color: #3498db;
 
    font-size: 17px;
    font-weight: 300;
}
.updatestatus {
    clear: both;
    padding: 10px 0px;
}
.updatestatus label{
   padding:5px;
}
.remarks textarea {
    resize: none;
    width: 96%;
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    color: #828282;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    .ref-prompt{
    overflow: hidden;
    padding: 15px;
    background: #eff3f6;
    width: 90%; display:none;
}
.ref-prompt .yesPromp{
    background: #3498db;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 10px;
    border: 1px solid #1975B3; display:inline-block;
}.ref-prompt .noPromp{
        background: #505050;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;display:inline-block;
    margin-right: 10px;
    border: 1px solid #424242;
}

.downloadButton{    float: right;
    text-align: right;}
    .donwlaodButton span{
    background: #6D7B92;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

/*End refund and settelment */
/* and settelment */
.loader{
    width: 237px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px #ABA0A0;
    border-radius: 6px;
        top: 40%;
    position: fixed;
    left: 40%; z-index:5; display:none;

}
.responsetext {
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    font-weight: 600;
    color: #327DAB;
}


/*pagination*/
.no_items{    width: 300px;     padding-left: 12px;}
.no_items .paginate {
  display: block;
  width: 100%;
  font-size: 12px; font-family:arial;
}
.no_items .paginate.pag1 { /* first page styles */ }
 
.no_items .paginate.pag1 li { font-weight: bold; display:inline-block}
 
.no_items .paginate.pag1 li button {
 
   dispaly:inline-block;
  color: #717171;
  background: #e9e9e9;
  text-decoration: none;
  padding: 5px 7px;
  margin-right: 6px; 
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);
  padding: 2px 9px;
}
.no_items .paginate.pag1 li button:disabled{    background: #EFEFEF;
    box-shadow: none;
    color: #ccc;
    border: 1px solid #E6E5E5;
}
.no_items .paginate.pag1 li a:hover {
  background: #eee;
  color: #555;
}
.no_items .paginate.pag1 li a:active {
  -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
}
 
 .no_items .paginate.pag1 li span{
    width: 100px;
    text-align: center;
    background: none;
    box-shadow: none;  border: solid 1px #c0c0c0; padding: 5px 7px;
  margin-right: 6px;  border-radius: 3px;
}

/*pagination end*/

/** filter section start*/
.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.searchFilter .select {

    cursor: pointer;
    display: inline-block;
    position: relative;
    font: normal 11px/22px Arial, Sans-Serif;
    color: #708293;
    border: 1px solid #708293;
    padding: 10px 0px;
    background: transparent;
    width: 200px;
    border-radius: 20px;
}
.searchFilter .styledSelect {
   position: absolute;
    top: 6px;
    right: 0;
    bottom: 0;
    left: 6px;
 
    padding: 0 10px;
    font-weight: bold;

}
.searchFilter .styledSelect:after {
       content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 14px;

}
.searchFilter .styledSelect:active, .searchFilter .styledSelect.active {
    background-color: transparent;
}
.searchFilter .options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.searchFilter .options li {
       margin: 0 0;
    padding: 5px 10px 4px;
    font-size: 13px;
    border-bottom: 1px;
}
.searchFilter .options li:hover {
       background-color: #39f;
    color: white;
    display: block;
        padding: 5px 10px 4px;
    float: left;
    width: 100%;
    box-sizing: border-box;

}
.searchFilter .options li.checkFocus{
 width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    margin-top: 12px;
    background:#F5F5F5 !important;
    float: left;

}
.searchFilter .options li.checkFocus:hover{background:#F5F5F5 !important}
.searchFilter input.dates {
    width: 86%;
    float: left;   
    border: 1px solid #ccc;
    background: none;
    border-radius: 3px;
    padding: 4px;
    margin: 9px 2% 10px 0; color:#333;
	outline:none; font-size:12px;
}
.searchFilter .fleft {
    float: left;
    width: 40%;
    margin-right: 2%;
}
.searchFilter .datesubmit{
}

.searchFilter .datesubmit input[type=button] {   
	float: left;
    width: 16%;
    color: #fff;
    background: #39f;
    margin-top: 9px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    border: none;}

/** filter section end*/
.searchFilter{width:735px; float:left; position:relative}
.searchFilter ul.filterTextbox {
    display: inline-block;
    list-style: none;
    padding: 0px;
    width: 515px;
}
.searchFilter .updateUlwidth{margin-top: 0px;
    width: 725px !important;
}
.searchFilter ul.filterTextbox li {
    display: inline-block;
}
.searchFilter ul.filterTextbox li input[type='text'] {
       padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #708293;
    border-radius: 20px;
    background: transparent;
    font-size: 13px;
    color: #708293;
    width: 155px;
    margin-left: 0px;
    font-size: 12px;
}
#txnStatusSelect{ width:200px !important;}
#utrNo{width:200px !important;}
.searchFilter ul.filterTextbox li select {
       padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #708293;
    border-radius: 20px;
    background: transparent;
    font-size: 13px;
    color: #708293;
    width: 155px;
    margin-right: 10px;
    font-size: 12px;
}
.searchFilter .topfilter {color: #fff;
    background: #3498db;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 3%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    right: -60px;
    border: 2px solid #247CB7;
}
.logoutBg{
    background: #6495ED;
    //display: oval;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin:10px;
    border-radius: 25px;
    width: 100px;
    height: 50px;
}
.myAccountBg{
    background:#191970;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}
.logoutBg a {
    margin: 0px !important;
    color: #fff;
}
.logoutBg a:hover {
    text-decoration:underline;
}
.tooltip {
    position: relative; display:none;
}
.tooltip:hover .tooltip_text {
    background: #3498DB;
    color: #fff;
    padding: 10px;
    line-height: 13px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 13px;
    position: absolute;
    width: 150px; display:block;
    z-index:999;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

/***********/

.ubcpRow {
	width: 100%;
	float: left;
}

/*
	Custom Checkbox Style : Start
*/
.onoffswitch {
    position: relative;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  display: inline-block;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 0px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > div {
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2;
    color: #FFFFFF;
}

.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    width: 40px;
    margin: 0px;
    text-align: center;
    border: 0px solid #999999;
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.onoffswitch-active .onoffswitch-switch {
    background: #27ca34;
    left: 0;
}

.onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1;
    right: 0;
}

.onoffswitch-active .onoffswitch-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 40px;
    border-style: solid;
    border-color: #27ca34 transparent transparent #27ca34;
    border-width: 15px 10px;
}

.onoffswitch-inactive .onoffswitch-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 40px;
    border-style: solid;
    border-color: transparent #A1A1A1 #A1A1A1 transparent;
    border-width: 15px 10px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
/*
	Custom Checkbox Style : End
*/

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 90px;
  height: 35px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  width: 90px;
  height: 35px;
}